@import '../../css/variable.css';

.navigator {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  list-style: none;
  padding: 0;
  margin-bottom: 1.5em;

  li {
    margin-bottom: 12px;

    a {
      display: flex;
      align-items: center;
      padding: 7px 16px 8px 16px;
      border-radius: 6px;
      font-size: 12px;
      opacity: 0.8;

      b {
        display: flex;
        align-items: center;
        animation-duration: 0.5s;
        animation-direction: alternate;
        animation-iteration-count: infinite;
        animation-timing-function: ease-in;
        font-size: 2em;
        padding: 0 0.1em 0.25em;
      }

      p {
        display: none;
      }
    }

    &:nth-child(1) {
      a b {
        animation-name: bounce;
      }
    }

    &:nth-last-child(1) {
      a b {
        animation-name: bounce-revers;
      }
    }
  }

  @media (max-width: $mobile-width) {
    a {
      b {
        padding: 0 0.1em 0.1em !important;
      }
      span {
        display: none;
      }
      p {
        display: flex !important;
      }
    }
  }
}

@keyframes bounce {
  from {
    margin-left: 5px;
  }
  to {
    margin-right: 5px;
  }
}

@keyframes bounce-revers {
  from {
    margin-right: 5px;
  }
  to {
    margin-left: 5px;
  }
}
