header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: auto;
  width: 100%;
  .header-menu {
    display: flex;
    justify-content: center;
    border-bottom: 1px solid #f1f1f1;
    width: 100%;
    background: #fff;
    & > nav {
      display: flex;
      justify-content: space-between;
      width: 100%;
      max-width: $layout-max-width;
      ul {
        display: flex;
        flex-direction: row;
        padding: 0;
        margin: 0;

        li {
          display: flex;
          margin: 0;
          list-style-type: none;

          a {
            padding: 0.75em 1.25em;
            text-transform: uppercase;
            color: #888;
            text-align: center;
          }

          &.selected {
            a {
              color: $layout-theme-color;
              font-weight: bold;
            }
          }
        }

        &.icons {
          li a {
            $padding-vertical: 0.8em;
            padding-left: $padding-vertical;
            padding-right: $padding-vertical;
          }

          .search-btn {
            background-color: $layout-theme-color;
            color: #fff;
          }
        }
      }
    }
  }

  .profile {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    justify-content: center;

    & > img {
      $image-size: 75px;

      width: $image-size;
      height: $image-size;
      border-radius: $image-size;
      margin-top: 25px;
    }

    & > p {
      width: 30%;
      text-align: center;
      padding-bottom: 2.5em;
      border-bottom: 1px solid #ccc;
    }
  }
}
