@import '../../css/variable.css';

.archive-container {
  & > div.archive-title {
    position: relative;
    margin: 2em 0 1.5em;
    display: flex;
    align-items: center;
    h3 {
      font-size: 1.75em;
      margin-left: 1em;
      color: #333;
      &:before {
        content: ' ';
        position: absolute;
        left: 0;
        top: 50%;
        margin-left: -6px;
        margin-top: -4px;
        width: 8px;
        height: 8px;
        background: #bbb;
        border-radius: 50%;
      }
    }
  }

  & > ul {
    margin: 0;
    padding: 0;

    &:not(:nth-last-child(1)) {
      margin-bottom: 1em;
    }
  }

  @media (max-width: $mobile-width) {
    & {
      .archive-title > h3 {
        margin-left: 0.75em !important;
      }

      ul {
        li {
          margin-left: 1.75em;
          flex-direction: column;
          align-items: flex-start;

          span {
            margin-bottom: 0.35em;
          }
        }
      }
    }
  }
}
