<!DOCTYPE html>
<html lang="en">
  {% include head.html %}

  <body>
    <div class="row">
      <div class="col s12 m3">
        <div class="table cover">
          <div class="background-cover" style="background-image:url('{{ site.url }}/img/background.jpg');"><div></div></div>
          {% include sidebar.html %}
        </div>
      </div>
      <div class="col s12 m9 progress-container" id="progress-container">
        <div>
          <div class="progress-bar" id="page-status"></div>
        </div>
      </div>
      <div class="col s12 m9">
        <div class="post-listing" id="post-listing">
          {{ content }}
          {% include footer.html %}
        </div>
      </div>
    </div>
    <div class="scroll-position-top" id="scroll-button">
      <a id="to-top"><i class="fa fa-angle-up"></i></a>
      <a id="to-bottom"><i class="fa fa-angle-down"></i></a>
    </div>
    {% include js.html %}
  </body>
</html>
